.container {
    display: flex;
    background-color: black;
    border-bottom: 10px solid rgb(236, 56, 56);
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
        height: 100vh;

      }
}

.logo {
  width: 6.5rem;
  height: auto;
  margin-left: 40%;
}

.boxLeft  {

    display: flex;
    align-items: flex-start;
}

.boxCenter  {

  display: flex;
  align-items: center;

}

.boxRight {

  display: flex;
  align-items: flex-end;

}